body {
    text-align: center;
    font-family: arial;
    background-color: azure;
}

table, th, td {
    border: 1px solid gray;
}

table {
    width: 400px;
    margin: auto;
}

th {
    height: 50px;
}

img {
    height: 50%;
}